# Environment variables for strict_mapping_validation
CLUSTER_SOURCE_NAME=cluster_source
CLUSTER_SOURCE_URL="https://host.docker.internal:9203"
CLUSTER_SOURCE_ES_USER=<user>
CLUSTER_SOURCE_ES_PASSWORD=<password>
SOURCE_INDEX=source_icandid

CLUSTER_TARGET_NAME=cluster_target
CLUSTER_TARGET_URL="https://host.docker.internal:9202"
CLUSTER_TARGET_ES_USER=<user>
CLUSTER_TARGET_ES_PASSWORD=<password>
TARGET_INDEX="test_mapping"
TARGET_ES_PIPELINE_ID="data_pipeline"

VALIDATE_DOCS=true
VALIDATION_DOCS_PATH="/records/" 

DRY_RUN=false


