ADMIN_MAIL_ADDRESS="me@example.com"
FROM_MAIL_ADDRESS="fromme@.example.com"
SMTP_SERVER="smtp.example.be"
ES_URL=https://host.docker.internal:9202
ES_USER=user
ES_PASSWORD=password
ES_INDEX=elastic_index
