.env.json
.env2.json
volumes/*
notes.txt
config/*
!config/example_config.yml
src/test/*
/.env_*
!.env_*.example
/elastic/*.csv
/elastic/*/*.csv
/elastic/*.json
/elastic/*/*.json
/elastic/datamodel_config/*
/logs/*
